In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [166]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1802,tt0162222,90000000,429632142,Cast Away,Tom Hanks|Helen Hunt|Chris Noth|Paul Sanchez|L...,Robert Zemeckis,"At the edge of the world, his journey begins.","Chuck, a top international manager for FedEx, ...",143,Adventure|Drama,DreamWorks SKG|Twentieth Century Fox Film Corp...,12/22/2000,7.3,2000
1656,tt0329691,40000000,46546197,Torque,Martin Henderson|Ice Cube|Monet Mazur|Adam Sco...,Joseph Kahn,Circuit of Fire,Biker Cary Ford is framed by an old rival and ...,84,Action,Village Roadshow Pictures|Original Film|Warner...,1/16/2004,4.8,2004
1785,tt0368794,20000000,4001121,I'm Not There.,Cate Blanchett|Heath Ledger|Julianne Moore|Ben...,Todd Haynes,All I Can Do Is Be Me Whoever That Is,Six actors portray six personas of music legen...,135,Drama|Music,Endgame Entertainment|Rising Star|Killer Films...,10/1/2007,6.5,2007
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
1733,tt0450385,25000000,94679598,1408,John Cusack|Samuel L. Jackson|Mary McCormack|J...,Mikael HÃ¥fstrÃ¶m,The only demons in room 1408 are those within ...,A man who specializes in debunking paranormal ...,104,Horror|Thriller,Dimension Films,7/12/2007,6.4,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [186]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget']
# Функции

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 

# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = '1. ' + data.original_title.loc[data['budget']== data.budget.max()]
display(answers['1'])

723    1. Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [12]:
answers['2'] = '2. ' + data.original_title.loc[data['runtime'] == data.runtime.max()]
display(answers['2'])

1157    2. Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [194]:
answers['3'] = '3. ' + data.original_title.loc[data['runtime'] == data.runtime.min()]
display(answers['3'])

768    3. Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [193]:
answers['4'] = '4. ' + str(data.runtime.mean())
display(answers['4'])

'4. 109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [192]:
answers['5'] = '5. ' + str(data.runtime.median())
display(answers['5'])

'5. 107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [191]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. ' + data.original_title.loc[data['profit'] == data.profit.max()]
display(answers['6'])

239    6. Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [190]:
answers['7'] = '7. ' + data.original_title.loc[data['profit'] == data.profit.min()]
display(answers['7'])

1245    7. The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [189]:
answers['8'] = '8. ' + str(len(data.loc[data['profit'] > 0]))
display(answers['8'])

'8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [188]:
data_9 = data.loc[data['release_year'] == 2008]
answers['9'] = '9. ' + data_9.original_title.loc[data_9['profit'] == data_9.profit.max()]
display(answers['9'])

599    9. The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [187]:
data_10 = data.loc[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
answers['10'] = '10. ' + data_10.original_title.loc[data_10['profit'] == data_10.profit.min()]
display(answers['10'])

1245    10. The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [184]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
answers['11'] = '11. ' + str(Counter(data.explode('genres')['genres']).most_common(1)[0][0])
display(answers['11'])

#display(data.explode('genres')['genres'])

'11. Drama'

ВАРИАНТ 2

782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [183]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
answers['12'] = '12. ' + str(Counter(data.loc[data['profit'] > 0].explode('genres')['genres']).most_common(1)[0][0])
display(answers['12'])

'12. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [182]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data['director'].apply(lambda x:x.split('|'))
data = data.explode('director')
answers['13'] = '13. ' + data.groupby('director')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]
display(answers['13'])

'13. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [181]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data['director'].apply(lambda x:x.split('|'))
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data = data.explode('director')
data = data.explode('genres')
answers['14'] = '14. ' + data.loc[data['genres'] == 'Action'].groupby('director')['revenue'].count().sort_values(ascending=False).keys()[0]
display(answers['14'])

'14. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [180]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data = data.explode('cast')
answers['15'] = '15. ' + data.loc[data['release_year'] == 2012].groupby('cast')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]
display(answers['15'])

'15. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [195]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.loc[data['revenue'] > data['revenue'].mean()]
data = data.explode('cast')
answers['16'] = '16. ' + data.groupby('cast')['revenue'].count().sort_values(ascending=False).keys()[0]
display(answers['16'])

'16. Cameron Diaz'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [178]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data = data.explode('cast')
data = data.explode('genres')
answers['17'] = '17. ' + data.loc[data['cast'] == 'Nicolas Cage'].groupby('genres')['revenue'].count().sort_values(ascending=False).keys()[0]
display(answers['17'])

'17. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [177]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')
data = data.loc[data['production_companies'] == 'Paramount Pictures']
data = data.loc[data['profit'] == data['profit'].min()]
answers['18'] = '18. ' + data['original_title']
display(answers['18'])

925    18. K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [176]:
data = pd.read_csv('movie_bd_v5.csv')
answers['19'] = '19. ' + str(data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).keys()[0])
display(answers['19'])

'19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [175]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')
data = data.loc['Warner Bros' in data['production_companies']]
answers['20'] = '20. ' + str(data.groupby('release_year')['profit'].sum().sort_values(ascending=False).keys()[0])
display(answers['20'])

'20. 2015'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [174]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
answers['21'] = '21. ' + data.groupby('month')['revenue'].count().sort_values(ascending=False).keys()[0]
display(answers['21'])

'21. 9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [173]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data['month'] == '6') | (data['month'] == '7') | (data['month'] == '8')]
answers['22'] = '22. ' + str(data['month'].count())
display(answers['22'])

'22. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [172]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])
data = data.loc[(data['month'] == '12') | (data['month'] == '1') | (data['month'] == '2')]
answers['23'] = '23. ' + data.groupby('director')['revenue'].count().sort_values(ascending=False).keys()[0]
display(answers['23'])

'23. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [171]:
data = pd.read_csv('movie_bd_v5.csv') 
#Создаем колонку с длинами названий фильмов
data['title_len'] = data['original_title'].apply(lambda x:len(x))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')
answers['24'] = '24. ' + str(data.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).keys()[0])
display(answers['24'])

'24. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [170]:
data = pd.read_csv('movie_bd_v5.csv') 
#Создаем колонку с длинами названий фильмов
data['title_len'] = data['overview'].apply(lambda x:len(x.split()))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')
answers['25'] = '25. ' + str(data.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).keys()[0])
display(answers['25'])

'25. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [167]:
data = pd.read_csv('movie_bd_v5.csv')
answers['26'] = '26. ' + str(data.groupby('original_title')['vote_average'].mean().sort_values(ascending=False).keys()[0])
display(answers['26'])

'26. The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [197]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'10': '10. The Lone Ranger',
 '9': '9. The Dark Knight',
 '8': '8. 1478',
 '7': '7. The Lone Ranger',
 '6': '6. Avatar',
 '5': '5. 107',
 '4': '4. 109.6585494970884',
 '3': 768    3. Winnie the Pooh
 Name: original_title, dtype: object,
 '16': '16. Cameron Diaz'}

In [198]:
# и убедиться что ни чего не пропустил)
len(answers)

9